body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 3.125em;
}

h2 {
  font-size: 1.875em;
}

.orange {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 6.25em;
}

.half-width {
  width: 50%;
  padding-left: 3%;
}

.half-width img {
  width: 100%;
}

.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(orange, tomato);
  padding: 0.625em 2.5em;
  font: bold;
  border-radius: 0.3125em;
}

.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.social-works {
  background-image: url(images/social-work-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

.experience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 1.25em;
  box-shadow: 0.625em 0.625em 2.5em gray;
}

#experience-border1 {
  border-left: 0.4375em solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 1;
}

#experience-border2 {
  border-left: 0.4375em solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer p {
  text-align: center;
}
